@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy Italic";
  src: url(./assets/fonts/Gilroy-RegularItalic.ttf);
}
@font-face {
  font-family: "Gilroy Bold";
  src: url(./assets/fonts/Gilroy-SemiBold.ttf);
}

@mixin flex($dir: row, $jusCnt: center, $alitm: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jusCnt;
  align-items: $alitm;
}


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
  user-select: none;
}

body {
  // background: radial-gradient(16.65% 34.47% at 50% 50%, #FFFFFF 0%, #FBFBFB 0.01%, #fff0ba 100%);
  background-color: #fff0ba;
  position: relative;
  overflow-x: hidden;
}

.howto{
  position: absolute;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: #fff0ba;
  @include flex($dir:column);
  z-index: 9;
  padding-bottom: 5rem;
  .more-info{
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

.header{
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

.Main-cont{
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  height: fit-content;
  width: fit-content;
  grid-gap: 2px;
  z-index: 2;
  background-color: black;
  border: 1.5px solid black;
  .grid {
    height: 50px;
    width: 50px;
    position: relative;
    background-color: whitesmoke;
  }
}

.box-left {
  box-shadow: -16px 16px 8px 2px #000000;
}

.box-right {
  box-shadow: 16px 16px 8px 2px #000000;
  .grid{
    cursor: pointer;
    transition: all 0.2s ease;
    height: 50px;
    width: 50px;
    border: 0;
    outline: 0;
  }
  .grid:hover{
    background-color: rgb(214, 255, 137);
  }
}

.wrapper {
  width: 100%;
  @include flex($jusCnt: space-evenly);
}

.ship-cont {
  @include flex($dir: column, $alitm: center, $jusCnt: space-evenly);
  width: 400px;
  position: relative;
}

.ship {
  display: flex;
  border: 1px solid black;
  margin: 1rem 0;
  .grid {
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border: 1px solid black;
    overflow: hidden;
    img {
      width: 50px;
    }
  }
}

.grid {
  .ship {
    margin: 0;
    border: 0;
    .grid {
      border: 0;
      background-color: transparent;
    }
  }
}

.ship-img {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.heading {
  text-align: center;
  font-size: 2.2rem;
  align-self: center;
  justify-self: center;
  svg {
    margin-left: 0.3rem;
    animation: blink 2s ease infinite;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    font-size: 1.2rem;
    margin: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
}

.section{
   @include flex($dir:column);
   border-bottom: 3px dotted black;
   margin-top: 1rem;
   h2{
     font-size: 2rem;
   }
  .content{
    margin-top: 3rem;
    @include flex();
    flex-wrap: wrap-reverse;
    img{
      width: 40%;
      transform: rotate(8deg);
    }
    .instrunctions{
      width: 50%;
      margin-right: 1rem;
      margin-top: 1rem;
      ul{
        li{
          font-size: 1.5rem;
        }
      }
    }
  }
}

.section2{
 .content{
   margin-top: 3rem;
   @include flex();
   flex-wrap: wrap;
   img{
     width: 40%;
     transform: rotate(-8deg);
   }
   .instrunctions{
     width: 50%;
     margin-left: 3rem;
     margin-top: 1rem;
     ul{
       li{
         font-size: 1.5rem;
       }
     }
   }
 }
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.absolute {
  position: absolute;
  z-index: 2;
  background-color: #fff0ba;
}

.column {
  flex-direction: column;
}

.hover {
  background-color: #000000 !important;
}
.blocker {
  background-color: red !important;
}
.none {
  display: none !important;
}

.hit {
  background-image: url(./assets/spark.svg);
  background-position: center;
  background-size: 50px 50px;
}

.sunk {
  background-image: url(./assets/Dot.svg);
  background-position: center;
  background-size: 50px 50px;
}

.shiper {
  background-color: blue !important;
}

.hitter {
  background-color: red !important;
}

.focus{
  box-shadow: 16px 16px 8px 2px #ff0000;
}

.focus-right{
  box-shadow: -16px 16px 8px 2px #ff0000;
}

.lifebox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 120px;
}

.Gameover{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 1rem;
  height: 300px;
  margin: auto;
  box-shadow: 0px 0px 10px 1px rgba(255, 0, 0, 0.188);
  border-radius: 10px;
  background-color: whitesmoke;
  justify-content: space-evenly;
  align-items: center;
  h2{
    font-size: 2rem;
  }
  div{
    font-size: 2rem;
    font-weight: bold;
  }
  button{
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: wheat;
    border-radius: 0.2rem;
  }
}

.error{
  background-color: white;
  height: 100vh;
  width: 100vw;
  @include flex($dir:column);
  h2{
    background-color: white;
    text-align: center;
  }
  img{
    width: 70%;
  }
}
// .focus {
//   -webkit-animation: color-change-2x 1s ease
//     infinite alternate both;
//   animation: color-change-2x 1s ease infinite
//     alternate both;
// }

// .focus-right {
//   -webkit-animation: color-change-2x-right 1s ease
//     infinite alternate both;
//   animation: color-change-2x-right 1s ease infinite
//     alternate both;
// }

// @-webkit-keyframes color-change-2x {
//   0% {
//     box-shadow: 16px 16px 8px 2px #000000;
//   }
//   100% {
//     box-shadow: 16px 16px 8px 2px #525252;
//   }
// }
// @keyframes color-change-2x {
//   0% {
//     box-shadow: 16px 16px 8px 2px #000000;
//   }
//   100% {
//     box-shadow: 16px 16px 8px 2px #525252;
//   }
// }

// @-webkit-keyframes color-change-2x-right {
//   0% {
//     box-shadow: -16px 16px 8px 2px #000000;
//   }
//   100% {
//     box-shadow: -16px 16px 8px 2px #525252;
//   }
// }
// @keyframes color-change-2x-right {
//   0% {
//     box-shadow: -16px 16px 8px 2px #000000;
//   }
//   100% {
//     box-shadow: -16px 16px 8px 2px #525252;
//   }
// }